.sidebar{
  width: 280px;
  gap: 56px;
  padding: 32px;
  .check-group{
    &-type{
        &_content{
            color:$color--Secondinary-Light-300;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.24px;
        }
        .checkbox-wrapper-42{
          margin-top: 32px;
          span{
            color:$color--Secondinary-Light-300;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.4px;
          }
        }
    }
    &-capacity{
        &_content{
            color:$color--Secondinary-Light-300;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.24px;
        }
        .checkbox-wrapper-42{
          margin-top: 32px;
        }
    }
    &-price{
        &_content{
            color:$color--Secondinary-Light-300;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.24px;
        }
        &_value{
          color: $color--Secondinary-Light-400;
          text-align: justify;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.4px;
          margin-top: 28px;
        }
        &_maxvalue{
          color: $color--Secondinary-Light-400;
          text-align: justify;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.4px;
        }
        #range1 {
            -webkit-appearance: none;
            appearance: none; 
            width: 100%;
            cursor: pointer;
            outline: none;
            overflow: hidden;
            border-radius: 16px;
            margin-top: 28px;
            margin-bottom: 16px;
          }
          
          #range1::-webkit-slider-runnable-track {
            height: 15px;
            background: #ccc;
            border-radius: 16px;
          }
          
          #range1::-moz-range-track {
            height: 15px;
            background: #ccc;
            border-radius: 16px;
          }
          
          #range1::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none; 
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid  $color--Primary;
            box-shadow: -407px 0 0 400px  $color--Primary;
          }
          
          #range1::-moz-range-thumb {
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid $color--Primary;
            box-shadow: -407px 0 0 400px  $color--Primary;
          }
          
    }
}
}
.carbody{
  padding: 32px;
  width: 100%;
}
.slideopen{
  left: 0px !important;
  z-index: 999;
  height: 100%;
}

@media (max-width:1440px) {
  .timer{
    .pickUp{
        padding-left: 13px !important;
        padding-top:24px;
        border-radius: 10px;
        &-gidis{
            gap: 5px !important;
        }
    }
}
}
@include media-breakpoint-down(lg)  {
  .timer{
    .pickUp{
      font-size: 12px;
    }
  }

 }
@include media-breakpoint-down(md)  {
  .custom-container-fluid{
    position: relative;
  }

  .sidebar{
    position: absolute;
    left: -300px;
    transition: 0.3s all;
  }
}
@include media-breakpoint-down(sm)  { }
@include media-breakpoint-down(def) { }
.checkbox-wrapper-42 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-42 label {
    display: inline-block;
  }

  .checkbox-wrapper-42 .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  .checkbox-wrapper-42 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  .checkbox-wrapper-42 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly-42 0.6s ease;
  }
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  .checkbox-wrapper-42 .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  @-moz-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @-o-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
