.outer {
    margin: 0 auto;
    max-width: 800px;
    border-radius: 17px;
}

#thumbs .item {
    max-height: 170px;
    min-width: 96px;
    max-width: 100%;
    line-height: 70px;
    padding: 0px;
    color: black;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#thumbs .item h1 {
    font-size: 18px;
}

#thumbs .current .item {
    padding: 10px;
    border: 2px solid $color--Primary;
    border-radius: 17px;
}

#thumbs .current .item img {
    max-height: 140px;
    transition: all .5s ease-in-out;
}

.owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}

#big.owl-theme {
    position: relative;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
    display: none;
    background: #333;
    width: 22px;
    line-height: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
}

#big.owl-theme .owl-prev {
    left: 10px;
}

#big.owl-theme .owl-next {
    right: 10px;
}

#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
    background: #333;
}

.outer {
    .item {
        img {
            border-radius: 17px;
        }
    }
}




.detailbody {
    padding: 32px;
    width: 100%;

    .informations {
        &-box1 {
            &-fluid{
                &-background{
                    position: relative;
                }
                &_title {
                    color: #FFF;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    letter-spacing: -0.96px;
                    max-width: 372px;
                    position: absolute;
                    top: 24px;
                    left: 24px;
                    right: 24px;
                }
    
                &_content {
                    color: #FFF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.32px;
                    max-width: 284px;
                    position: absolute;
                    top: 124px;
                    left: 24px;
                }
    
                &_img {
                    width: 380px;
                    height: 120px;
                    flex-shrink: 0;
                    position: absolute;
                    bottom: 24px;
                    left: 25%;
                    right: 25%;
                }
            }
        }

        &-box2 {
            flex-shrink: 0;
            border-radius: 10px;
            background: #FFF;
            padding: 24px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &_title {
                display: flex;
                justify-content: space-between;

                span {
                    color: $color--Secondinary;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    letter-spacing: -0.96px;
                }

                a {
                    text-decoration: none;
                }

                i {
                    font-size: 24px;
                }

                &-Reviewer {
                    display: flex;
                    height: 24px;
                    align-items: center;
                    gap: 8px;
                }
            }

            &_content {
                margin-top: 34px;
                color: $color--Secondinary-Light-400;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: -0.4px;

                .About {
                    display: inline-flex;
                    align-items: flex-start;
                    gap: 44px;
                    width: 100%;
                    margin-top: 34px;

                    &-genre {
                        color: $color--Secondinary-Light-300;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        letter-spacing: -0.4px;
                        width: 50%;
                        display: flex;
                        justify-content: space-between;

                        b {
                            color: $color--Secondinary-Light-400;
                            text-align: right;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 150%;
                            letter-spacing: -0.4px;
                        }
                    }
                }
            }

            &-sell {
                display: flex;
                justify-content: space-between;
                margin-top: 32px;

                .btnSell {
                    display: flex;
                    width: 140px;
                    height: 56px;
                    padding: 0px 20px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex-shrink: 0;
                }
            }

            &-money {
                color: $color--Secondinary;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                &_day {
                    color: $color--Secondinary-Light-300;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }

    .reviews {
        margin-top: 32px;
        padding: 24px;
        width: 100%;
        border-radius: 10px;
        background-color: #FFF;

        .baslik {
            color: $color--Secondinary;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.4px;
        }

        .reviewCount {
            color: var(--primary-0, #FFF);
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 5px 15px;
            border-radius: 8px;
            background-color: $color--Primary;
        }

        .showReview {
            display: flex;
            width: 132px;
            height: 44px;
            padding: 0px 20px;
            border: 1px solid $color--Secondinary-Light-300;
            border-radius: 8px;
            background-color: #FFF;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            gap: 8px;
            flex-shrink: 0;
            color: $color--Secondinary-Light-300;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.32px;
        }

        .review {
            width: 100%;

            &-user {
                &-title {
                    width: 100%;

                    b {
                        color: $color--Secondinary;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        letter-spacing: -0.6px;
                    }

                    .smalltext {
                        color: $color--Secondinary-Light-300;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        letter-spacing: -0.28px;
                    }
                }
            }

            &-text {
                color: $color--Secondinary-Light-400;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                letter-spacing: -0.28px;
            }
        }
    }
}

@media (max-width:1440px) {
    .informations {
        &-box1 {
            &-fluid {
                max-height: 360px !important;
            }
            &_img{
                width: 380px !important;
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .informations {
        &-box1 {
            &-fluid {
                width: 100% !important;
                &_img{
                    width: 380px !important;
                    
                }
            }
        }

        &-box2 {
            &_title {
                font-size: 22px !important;

                &-Reviewer {
                    margin-top: 10px;
                }
            }

            &_content {
                margin-top: 10px !important;

                span {
                    font-size: 14px !important;
                }

                .About {
                    font-size: 14px !important;

                    b {
                        font-size: 14px !important;
                    }
                }
            }

            &-money {
                font-size: 22px !important;

                &_day {
                    font-size: 14px !important;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .detailbody {
        padding: 20px;
    }

    .informations {
        &-box1 {
            &-fluid {
                width: 100% !important;
                &_img {
                    width: 380px !important;
                    height: 120px !important;
                    flex-shrink: 0;
                }
                &_title{
                    font-size: 24px !important;
                }
                &_content{
                    font-size: 14px !important;
                }
            }

            &_carImg {
                width: 90px !important;
                height: 60px !important;
                flex-shrink: 0;
            }
        }

        &-box2 {
            margin-top: 20px;

            &_title {
                font-size: 20px !important;

                &-Reviewer {
                    margin-top: 10px;
                }
            }

            &_content {
                margin-top: 10px !important;

                span {
                    font-size: 12px !important;
                }

                .About {
                    font-size: 12px !important;

                    b {
                        font-size: 12px !important;
                    }
                }
            }

            &-money {
                font-size: 20px !important;

                &_day {
                    font-size: 12px !important;
                }
            }
        }
    }

    .profileImg {
        width: 50px;
        height: 50px;
    }

    .review {
        &-user {
            &-title {
                b {
                    font-size: 16px;
                }
            }
        }
    }
    #thumbs .current .item {
        padding: 4px;
    }
}

@include media-breakpoint-down(sm) {
    .informations-box1-fluid{
        &_content{
            top: 100px !important;
        }
        &_img {
            width: 190px !important;
            height: 60px !important;
            flex-shrink: 0;
        }
    }
}

@include media-breakpoint-down(def) {}