.highlights{
    .best{
        height: 360px;
        background-color: $color--Information;
        color: $color--white;
        position: relative;
        border-radius: 10px;
        background-image: url('./assets/img/card-background.png');
        background-size: cover;
        background-repeat: no-repeat;
        .box{
            width: 284px;
            height: 224px;
            padding-top: 24px;
            margin-left: 24px;
        }
        &-title{
            font-size: 32px;
            @extend .font-weight--600;
            line-height: 150%;
            letter-spacing: -3%;
            margin-bottom: 16px;
        }
        &-content{
            font-size: 16px;
            @extend .font-weight--500;
            line-height: 150%;
            letter-spacing: -3%;
            margin-bottom: 8px;
        }
        &-btn{
            width: 120px;
            height: 44px;
            font-size: 16px;
            @extend .font-weight--500;
        }
        &-img{
            position: absolute;
            right: 70px;
        }
    }
    .easy{
        height: 360px;
        background-color: $color--Primary;
        color: $color--white;
        position: relative;
        border-radius: 10px;
        background-image: url('./assets/img/card-background-2.png');
        .box{
            width: 284px;
            height: 224px;
            padding-top: 24px;
            margin-left: 24px;
        }
        &-title{
            font-size: 32px;
            @extend .font-weight--600;
            line-height: 150%;
            letter-spacing: -3%;
            margin-bottom: 16px;
        }
        &-content{
            font-size: 16px;
            @extend .font-weight--500;
            line-height: 150%;
            letter-spacing: -3%;
            margin-bottom: 8px;
        }
        &-btn{
            width: 120px;
            height: 44px;
            font-size: 16px;
            background-color:$color--Information; 
            @extend .font-weight--500;
        }
        &-img{
            position: absolute;
            right: 70px;
        }
    }
}
.timer{
    margin-top: 32px;
    .pickUp{
        height: 132px;
        border-radius: 10px;
        background-color: white;
        padding-left:48px;
        padding-top: 24px;
        padding-right:48px;
        padding-bottom: 24px;
        &-gidis{
            gap: 18px;
            margin-top: 16px;
            .hr{
                width: 2px;
                margin-top: -6px;
                height: 48px;
                background-color: rgba(0,0,0,0.2); 
            }
            &-title{
                color:$color--Secondinary;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.32px;
            }
            .location{
                color:$color--Secondinary;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: -0.32px;
                select{
                    color:$color--Secondinary-Light-300;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.24px;
                    border: 1px solid white;
                    max-width: 130px;
                }
            }
            .date{
                color:$color--Secondinary;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: -0.32px;
                input{
                color:$color--Secondinary-Light-300;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.24px;
                border: none;
                max-width: 130px;
                }
            }
            .time{
                color:$color--Secondinary;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: -0.32px;
                input{
                color:$color--Secondinary-Light-300;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.24px;
                border: none;
                max-width: 130px;
                }
            }
        }
    }
    .change{
        border-radius: 15px;
        z-index: 9;
        &-btn{
            width: 60px;
            height: 60px;
            background-color: $color--Primary-Dark-700;
            color: $color--white;
            border-radius: 10px;
            border: none;
        }
    }
}
.popularCar{
    margin-top: 42px;
    .navbar{
        &-brand{
            color: $color--Secondinary-Light-300;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-brands{
            color:$color--Primary;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }
    }
    .card{
        padding: 24px;
        border: none;
        transition: 0.3s all;
        max-width: 400px;
        &:hover{
            box-shadow: 1px 2px 13px;
        }
        &-title{
            span{
                @extend .font-weight--800;
                line-height: 150%;
                font-size: 20px;
            }
            i{
                font-size: 24px;
                color: $color--Secondinary-Light-300;
            }
            .like{
                text-decoration: none;
                color: $color--Secondinary-Light-300;
            }
        }
        &-genre{
         @extend .font-weight--800;
         font-size: 14px;
         line-height: 10%;
         color:$color--Secondinary-Light-300;
        }
        &-img-top{
            padding: 16px;
        }
        &-body{
            text-wrap: wrap;
            &-content{
                i{
                    font-size: 14px;
                    margin-left: 5px;
                    color: $color--Secondinary-Light-300;
                }
                font-size: 14px;
            }
            &-sell{
                
                &-money{
                    font-size: 20px;
                    @extend .font-weight--800;
                    color: $color--black;
                    }
                &-day{
                    font-size: 14px;
                    color: $color--Secondinary-Light-300;
                    @extend .font-weight--800;
                }
            }
        }
    }
}
.popularCar-sm{
    display: none;
    overflow: visible;
    position: relative;
    .owl-item{
        width:400px;
        .item{
            width: 350px;
        }
        &.active{
            width: 400px !important;
        }
    }
     .filter{
        background:linear-gradient(90deg,transparent 90%,white);
        position: absolute;
        width: 100%;
        height: 500px;
        top: 0px;
        right: 0px;
        z-index: 9;
     }
    .card{
        width: 100%;
        max-height: 600px;
        &:hover{
            box-shadow: none;
        }
    }
}
.RecomendationCar{
    .navbar{
        &-brand{
            color: $color--Secondinary-Light-300;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-brands{
            color:$color--Primary;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
        }
    }
    .card{
        padding: 24px;
        border: none;
        transition: 0.3s all;
        height: 100%;
        &:hover{
            box-shadow: 1px 2px 13px;
        }
        &-title{
            span{
                @extend .font-weight--800;
                line-height: 150%;
                font-size: 20px;
            }
            i{
                font-size: 24px;
                color: $color--Secondinary-Light-300;
            }
            .like{
                text-decoration: none;
                color: $color--Secondinary-Light-300;
            }
        }
        &-genre{
         @extend .font-weight--800;
         font-size: 14px;
         line-height: 10%;
         color:$color--Secondinary-Light-300;
        }
        &-img-top{
            padding: 16px;
        }
        &-body{
            text-wrap: wrap;
            &-content{
                i{
                    font-size: 14px;
                    margin-left: 5px;
                    color: $color--Secondinary-Light-300;
                }
                font-size: 14px;
            }
            &-sell{
                
                &-money{
                    font-size: 20px;
                    @extend .font-weight--800;
                    color: $color--black;
                    }
                &-day{
                    font-size: 14px;
                    color: $color--Secondinary-Light-300;
                    @extend .font-weight--800;
                }
            }
        }
    }
}
.recomendation-sm{
    display: none;
    .card{
        padding: 24px;
        border: none;
        transition: 0.3s all;
        height: 100%;
        &:hover{
            box-shadow: 1px 2px 13px;
        }
        &-title{
            span{
                @extend .font-weight--800;
                line-height: 150%;
                font-size: 20px;
            }
            i{
                font-size: 24px;
                color: $color--Secondinary-Light-300;
            }
            .like{
                text-decoration: none;
                color: $color--Secondinary-Light-300;
            }
        }
        &-genre{
         @extend .font-weight--800;
         font-size: 14px;
         line-height: 10%;
         color:$color--Secondinary-Light-300;
        }
        &-img-top{
            padding: 16px;
        }
        &-body{
            text-wrap: wrap;
            &-content{
                i{
                    font-size: 14px;
                    margin-left: 5px;
                    color: $color--Secondinary-Light-300;
                }
                font-size: 14px;
            }
            &-sell{
                
                &-money{
                    font-size: 20px;
                    @extend .font-weight--800;
                    color: $color--black;
                    }
                &-day{
                    font-size: 14px;
                    color: $color--Secondinary-Light-300;
                    @extend .font-weight--800;
                }
            }
        }
    }
}
.love{
    color: red !important;
}
@media (max-width:1400px) {
    .timer{
        .pickUp{
            padding-left: 25px !important;
            padding-top:24px;
            border-radius: 10px;
            &-gidis{
                gap: 5px !important;
            }
        }
    }
}
@include media-breakpoint-down(lg)  {
    .best{
        &-img{
            width: 300px;
            position: absolute;
            right: -6px !important;
            bottom: 15px;
            img{
                width: 100%;
            }
        }
    }
    .easy{
        &-img{
            width: 270px;
            position: absolute;
            right: 5px !important;
            bottom: 15px;
            img{
                width: 100%;
            }
        }
    }
    .timer{
        .pickUp{
            height: 132px;
            padding-left: 17px !important;
            padding-top:24px;
            border-radius: 10px;
            &-gidis{
                gap: 5px !important;
                .location{
                    &-title{
                        font-size: 14px;
                    }
                    select{
                        font-size: 10px;
                        width: 100px;
                    }
                }
                .date{
                    &-title{
                        font-size: 14px;
                    }
                    input{
                        font-size: 10px;
                        width: 100px;
                    }
                }
                .time{
                    &-title{
                        font-size: 14px;
                    }
                    input{
                        font-size: 10px;
                        width: 100px;
                    }
                }
            }
        }
    }
    
    .popularCar{
        .card{
            padding: 10px;
            &-body{
                &-content{
                    display: flex;
                    justify-content: space-between;
                }
                &-sell{
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }
    }
    .recomendation{
        display: none;
        gap: 20px;
        .row{
            gap: 20px;
            display: none;
        }
        .card{
            padding: 10px;
            &-body{
                &-content{
                    display: flex;
                    justify-content: space-between;
                }
                &-sell{
                    gap: 10px;
                }
            }
        }
    }
    .recomendation-sm{
        .row{
            gap: 20px;
        }
        display: block;
        .card{
            padding: 25px;
            &-body{
                .card-img-top{
                    width: 221px;
                    padding: 0px !important;
                }
                align-items: center;
                justify-content: space-between;
                &-content{
                    align-items: start;
                    justify-content: space-between;
                    width: 70px;
                    font-size: 12px;
                    height: 100px;
                    .icon-Car{
                        margin-left: 5px;
                    }
                }
                &-sell{
                    text-align: center;
                }
            }
        }
    }

 }
@include media-breakpoint-down(md)  { 
    .row{
        .best{
            display: none;
        }
        .easy{
            display: none;
        }
    }
    .best{
        &-img{
            width: 300px;
            position: absolute;
            right: -6px !important;
            bottom: 15px;
            img{
                width: 100%;
            }
        }
    }
    .easy{
        &-img{
            width: 270px;
            position: absolute;
            right: 5px !important;
            bottom: 15px;
            img{
                width: 100%;
            }
        }
    }
    .timer{
        .pickUp{
            height: 132px;
            padding-left: 10px !important;
            padding-top:24px;
            border-radius: 10px;
            &-gidis{
                gap: 5px !important;
                .location{
                    width: 150px;
                    &-title{
                        font-size: 16px;
                    }
                    select{
                        font-size: 12px;
                        width: 110px;
                    }
                }
                .date{
                    width: 150px;
                    &-title{
                        font-size: 16px;
                    }
                    input{
                        font-size: 12px;
                        width: 100px;
                    }
                }
                .time{
                    width: 150px;
                    &-title{
                        font-size: 16px;
                    }
                    input{
                        font-size: 12px;
                        width: 100px;
                    }
                }
            }
        }
    }
    
.popularCar-sm{
    display: block;
}
    .popularCar{.row{
        display: none;
        }
    }
}

@include media-breakpoint-down(sm)  {
    
 }
@include media-breakpoint-down(def) { }