.bilingInfo {
    background-color: #FFF;
    padding: 24px;
    border-radius: 10px;

    &-title {
        color: $color--Secondinary;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.6px;
    }

    &_smallText {
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }

    label {
        margin-top: 24px;
        color: $color--Secondinary;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.32px;
    }

    input {
        width: 386px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 10px;
        border: none;
        background: #F6F7F9;
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
        padding-left: 32px;
    }
}

.Rental {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;

    &-title {
        color: $color--Secondinary;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 30px */
        letter-spacing: -0.6px;
    }

    &-smallText {
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }

    &_carAbout {
        margin-top: 32px;
        align-items: center;

        &_img {
            width: 132px;
            border-radius: 8px;
        }

        &-text {
            margin-left: 25px;

            &-title {
                color: $color--Secondinary;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: -0.96px;
            }

            &-smallText {
                color: $color--Secondinary-Light-400;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.28px;
            }
        }
    }

    &_total {
        margin-top: 54px;

        &-subtotal {
            margin-bottom: 24px;

            &-smallText {
                color: $color--Secondinary-Light-300;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.32px;
            }

            &-price {
                color: $color--Secondinary;
                text-align: right;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.32px;
            }
        }

        &-Tax {
            margin-bottom: 32px;

            &-smallText {
                color: $color--Secondinary-Light-300;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.32px;
            }

            &-price {
                color: $color--Secondinary;
                text-align: right;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                letter-spacing: -0.32px;
            }
        }
    }

    &_promo {
        &-input {
            color: $color--Secondinary-Light-300;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.28px;
            border-radius: 10px;
            background: #F6F7F9;
            height: 56px;
            border: none;
            padding: 16px;

            &::placeholder {
                color: $color--Secondinary-Light-300;
            }

            &:focus {
                background-color: #F6F7F9;
                box-shadow: none;
            }
        }

        &-btn {
            border: none;
            padding: 16px;
            color: $color--Secondinary;
            text-align: right;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            height: 56px;
            line-height: 150%;
            letter-spacing: -0.32px;
            border-radius: 10px;
            background: #F6F7F9;

            &:focus {
                background-color: #F6F7F9;
                box-shadow: none;
            }

            &:hover {
                background-color: #F6F7F9;
                box-shadow: none;
            }
        }
    }

    &_price {
        &-title {
            &_bold {
                color: $color--Secondinary;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                letter-spacing: -0.6px;
            }

            &_smallText {
                color: $color--Secondinary-Light-300;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                letter-spacing: -0.28px;
            }
        }

        &-money {
            color: $color--Secondinary;
            text-align: right;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.rentalInfo {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    margin-top: 32px;

    &-title {
        color: $color--Secondinary;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.6px;
    }

    &_smallText {
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }

    &-content {
        color: $color--Secondinary;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.32px;
        margin-top: 32px;
    }

    label {
        color: $color--Secondinary;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.32px;
        margin-top: 24px;
    }

    &-select {
        width: 386px;
        height: 56px;
        border: none;
        padding-left: 32px;
        padding-right: 21px;
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
        border-radius: 10px;
        background: #F6F7F9;
    }

    &-input {
        width: 386px;
        height: 56px;
        border: none;
        padding-left: 32px;
        padding-right: 21px;
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
        border-radius: 10px;
        background: #F6F7F9;
    }
}

.paymentMethod {
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    margin-top: 32px;

    &-title {
        color: $color--Secondinary;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.6px;
    }

    &_smallText {
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }

    .acordion {
        background-color: #F6F7F9;
        border: none;
        margin-top: 32px;
        border-radius:8px;
        &_head {
            padding: 24px;
            margin-left: 24px;
            width: 100%;
            position: relative;

            label {
                color: $color--Secondinary;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.32px;
            }

            img {
                position: absolute;
                right: 24px;
            }
        }

        &_body {
        padding-left: 24px;
        background-color: #F6F7F9;
            .card-body {
                border: none;
                background-color: #F6F7F9;
                
                label {
                    color: $color--Secondinary;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 150%;
                    margin-top: 24px;
                    letter-spacing: -0.32px;
                }

                input {
                    width: 362px;
                    height: 56px;
                    flex-shrink: 0;
                    border-radius: 10px;
                    background: #FFF;
                    color: $color--Secondinary-Light-300;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.28px;
                    border: none;
                    padding: 16px;
                }
            }
        }
    }
}
.confirmation{
    border-radius: 10px;
    background: #FFF;
    padding: 24px;
    margin-top: 32px;
    &-title {
        color: $color--Secondinary;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.6px;
    }

    &_smallText {
        color: $color--Secondinary-Light-300;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.28px;
    }
    label{
        color: #1F2544;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.32px;
        border-radius: 10px;
        background: #F6F7F9;
        width: 100%;
        padding: 16px 32px;
        margin-top: 32px;
    }
    input{
        margin-right: 20px;
    }
    &-btn{
        margin-top: 20px;
        display: flex;
        width: 140px;
        height: 56px;
        padding: 0px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex-shrink: 0;
        border-radius: 10px;
    }
    img{
        display: flex;
        width: 32px;
        height: 32px;
        padding: 2.001px 2.667px 1.966px 2.625px;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 16px;
    }
    .layer{
        &-title{
            color:$color--Secondinary;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.32px;
        }
        &-smallText{
            color:$color--Secondinary-Light-300;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: -0.28px;
        }
    }
}
@media (max-width:1440px) {
    .bilingInfo {
        input {
            width: 350px !important;
        }
    }

    .rentalInfo {
        &-select {
            width: 350px !important;
        }

        &-input {
            width: 350px !important;
        }
    }
    .paymentMethod {
        .card-body{
            input{
            width: 350px !important;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .bilingInfo {
        input {
            width: 300px !important;
        }
    }

    .rentalInfo {
        &-select {
            width: 300px !important;
        }

        &-input {
            width: 300px !important;
        }
    }
    
    .paymentMethod {
        .card-body{
            input{
            width: 300px !important;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .Rental {
        &-title {
            font-size: 16px;
        }

        &-smallText {
            font-size: 12px;
        }

        &_carAbout {
            &-text {
                &-title {
                    font-size: 20px;
                }
            }
        }

        &_promo {
            &-input {
                font-size: 12px;
            }

            &-btn {
                font-size: 12px;
            }
        }

        &_price {
            &-title {
                &_bold {
                    font-size: 16px;
                }

                &_smallText {
                    font-size: 12px;
                }
            }

            &-money {
                font-size: 20px;
            }
        }
    }

    .bilingInfo {

        margin-top: 32px;

        &-title {
            font-size: 16px;
        }

        &_smallText {
            font-size: 12px;
        }

        label {
            font-size: 14px;
        }

        input {
            width: 100% !important;
        }
    }

    .rentalInfo {
        &-title {
            font-size: 16px;
        }

        &_smallText {
            font-size: 12px;
        }

        label {
            font-size: 14px;
        }

        &-select {
            width: 100% !important;
        }

        &-input {
            width: 100% !important;
        }
    }
    .paymentMethod {
        &-title {
            font-size: 16px;
        }

        &_smallText {
            font-size: 12px;
        }

        label {
            font-size: 14px;
        }
        .acordion_body {
        padding: 5px;
        }
        .card-body{
            input{
            width: 100% !important;
            }
        }
    }
    .confirmation {
        &-title {
            font-size: 16px;
        }

        &_smallText {
            font-size: 12px;
        }
        input{
            margin-right: 5px;
        }
        label {
            font-size: 12px;
        }
        .layer{
            &-title{
                font-size: 16px;
            }
            &-smallText{
                font-size: 12px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(def) {}