<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="custom-container-partial bg--white">
            <div class="product">
                <div class="row">
                    <div class="col-lg-6 col-12">
                       <div class="bilgi">
                        <p class="logo">MORENT</p>
                        <span class="bilgi_content">Our vision is to provide convenience and help increase your sales business.</span>
                       </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="abouts">
                            <span class="abouts_content">About</span>
                            <ul class="abouts_list">
                                <li class="abouts_list-item"><a href="#">How it works</a></li>
                                <li class="abouts_list-item"><a href="#">Featured</a></li>
                                <li class="abouts_list-item"><a href="#">Partnership</a></li>
                                <li class="abouts_list-item"><a href="#">Bussiness Relation</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="cmnt">
                            <span class="cmnt_content">community</span>
                            <ul class="cmnt_list">
                                <li class="cmnt_list-item"><a href="#">Events</a></li>
                                <li class="cmnt_list-item"><a href="#">Blog</a></li>
                                <li class="cmnt_list-item"><a href="#">Podcast</a></li>
                                <li class="cmnt_list-item"><a href="#">Invite a friend</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6">
                        <div class="socials">
                            <span class="socials_content">Socials</span>
                            <ul class="socials_list">
                                <li class="socials_list-item"><a href="#">Discord</a></li>
                                <li class="socials_list-item"><a href="#">Instagram</a></li>
                                <li class="socials_list-item"><a href="#">Twitter</a></li>
                                <li class="socials_list-item"><a href="#">Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="row">
                        <div class="col-lg-8 col-12 foter">
                            <span class="footer_content">©2022 MORENT. All rights reserved</span>
                        </div>
                        <div class="col-lg-2 col-6">
                            <a href="#" class="footer_privacy">Privacy & Policy</a>
                        </div>
                        <div class="col-lg-2 col-6 text-end">
                            <a href="#" class="footer_terms">Terms & Condition</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</body>
</html>