<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="custom-container-partial">
        <header class="header-lg">
            <div class="row">
                <div class="col-md-2 col-6 d-flex text-center">
                    <span class="logo">MORENT</span>
                </div>
                <div class="col-md-8 col-12 d-flex text-center">
                    <div class="input-group mb-3">
                        <button class="btn btnSearch" type="button" id="button-addon1"><span class="icon-icons8-search-64"></span></button>
                        <input type="text" class="form-control filterText" placeholder="Search something here" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <button class="btn btnFilter" type="button" id="button-addon1"><span class="icon-icons8-filter-48"></span></button>
                      </div>
                </div>
                <div class="col-md-2 col-6 d-flex text-center justify-content-end">
                    <ul class="menu_list d-flex">
                        <li class="likes">
                            <div class="menu_list-item">
                                <span class="icon-heart position-relative"><span class="bg-danger border border-light rounded-circle likescount">0</span>

                            </div>
                        </li>
                        <li class="notification">
                            <div class="menu_list-item"><span class="icon-notification"></span></div>
                        </li>
                        <li class="setting">
                            <div class="menu_list-item"><span class="icon-setting-2"></span></div>
                        </li>
                        <li class="profile order-1">
                            <div class="menu_list"><img src="../assets/img/Profil.png"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <header class="header-sm">
            <div class="row">
                <div class="col-6 d-flex text-center">
                    <span class="logo">MORENT</span>
                </div>
                <div class="col-6 d-flex text-center justify-content-end">
                    <ul class="menu_list d-flex">
                        <li class="profile">
                            <div class="menu_list-profile mb-4"><img src="../assets/img/Profil.png"></div>
                        </li>
                        <li class="likes">
                            <div class="menu_list-item">
                                <span class="icon-heart"></span>
                            </div>
                        </li>
                        <li class="notification">
                            <div class="menu_list-item"><span class="icon-notification"></span></div>
                        </li>
                        <li class="setting">
                            <div class="menu_list-item"><span class="icon-setting-2"></span></div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 d-flex text-center justify-content-between">
                    <div class="input-group mb-3">
                        <button class="btn btnSearch" type="button" id="button-addon1"><span class="icon-icons8-search-64"></span></button>
                        <input type="text" class="form-control filterText" placeholder="Search something here" aria-label="Example text with button addon" aria-describedby="button-addon1">
                      </div>
                      <button class="btn btnFilter" type="button" id="button-addon1"><span class="icon-icons8-filter-48"></span></button>
                </div>
            </div>
        </header>
    </div>
</body>
</html>